@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* Navigation Bar Style */
.nav-list {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 25px;
    justify-content: flex-end;
    background-color: #c4c4c4;
}
.list-item {
    margin: 0px 25px;
    font-size: 20px;
    font-weight: 600;
}
.logo{
    margin-right: auto;
    margin-left: 30px;
    font-weight: bolder;
    font-size: 24px;
}
.iconic{
    color: #11998E;
}
.link-btn {
    padding: 8px 15px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
    text-decoration: none;
    color: black;
}
.list-item a:hover {
    border-bottom: 2px solid #11998e;
}
/* Navigation Bar Style */


/* Home Section Style */
#home {
    display: flex;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 75%;
}
.text-container{
    width: 60%; 
}
.home-image{
    width: 40%;
}
.home-image img{
    width: 100%;
}
.slogan{
    font-size: 45px;
    font-weight: bolder;

}
.slogan span{
    color: #11998e;
}
/* Home Section Style */

/* About Section Style */
#about {
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 650px;
    justify-content: space-around;
    align-items: center;
}
.cook{
    margin-left: 7%;
}
h2 {
    color: #11998e;
}
/* About Section Style */



.recipe-text{
    margin-top: 60px;
    text-align: center;
}

.recipe-box-container{
    height: 500px;
    width: 1020px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

.recipe-box {
    width: 30%;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 1px 1px 10px;
}
.recipe-box img {
    width: 100%;
    border-radius: 17px;
}
.food-name {
    color: #11998e;
}
.recipe-box p {
    font-size: 17px;
}

/* Social Media Information Style */
.social-info-container {
    height: 400px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-info {
    width: 1020px;
    height: 220px;
    background-color: white;
    border-radius: 17px;
    box-shadow: 1px 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media {
    width: 30%;
    text-align: center;
}
.social-media h2 {
    font-size: 35px;
    color: black;
}
/* Social Media Information Style */


/* Contact Section Style */
#contact {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-container{
    width: 55%;
}
.contact-img {
    width: 35%;
}
.contact-img img {
    width: 120%;
}

input {
    width: 70%;
    height: 30px;
    padding: 5px 20px;
    border-radius: 25px;
    margin-bottom: 5%;
}
.message{
    height: 150px;
}
button {
    padding: 12px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background: #11998e;
    border: none;
}
/* Contact Section Style */


/* Footer Section Style */
footer {
    background-color: black;
    height: 110px;
    padding-top: 2px;
    color: white;
    text-align: center;
    padding-bottom: 2px;
}
footer h3 {
    font-size: 24px;
    font-weight: bolder;
}

footer p {
    font-size: 14px;
}
/* Footer Section Style */